:root {
  --yellow-bg: #f4d04e;
  --black-text: #111111;
  --gray-text: #6b6b6b;
}

body {
  background-color: var(--yellow-bg);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: FigtreeVariable, Arial, Helvetica, sans-serif;
  padding: 1rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: min(100% - 2, 24rem);
  border-radius: 1.25rem;
  border: 1px black solid;
  padding: 1.5rem;
  overflow: hidden;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 0.188rem 0.25rem;
}

.image-container {
  object-fit: contain;
  margin-bottom: 1.5rem;
}

.image {
  width: 100%;
  border-radius: 0.625rem;
}

.profile-container {
  display: flex;
  gap: 0.75px;
  align-items: center;
  font-size: 0.75rem;
  font-weight: bold;
}

.sub-heading {
  font-size: 0.875rem;
  font-family: FigtreeVariable;
  color: var(--black-text);
  font-weight: 500;
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.875rem;
  margin-bottom: 1.55rem;
}

.html-heading {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  font-size: 1.5rem;
  font-weight: bolder;
}

.learning-heading {
  padding: 0.25rem 0.75rem;
  background-color: var(--yellow-bg);
  font-size: 0.875rem;
  border-radius: 0.25rem;
  font-weight: bolder;
}

.languages-heading {
  color: var(--gray-text);
  font-size: 1rem;
}

.description-container * {
  margin: 0;
}

.profile-img {
  width: 2rem;
  height: 2rem;
  font-size: 0.675rem;
}
